* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('./fonts/TTLakes/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('./fonts/TTLakes/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('./fonts/TTLakes/TTLakes-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-header-white: #FFFFFF ;
  --color-main-white: #F8F8F8 ;
  --color-icons-pink: #FF3E79;

  --border-radius: 20px;
}

body {
  font-family: 'TT Lakes', sans-serif;
  background-color: var(--color-main-white);
  min-width: 320px;
  max-width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header-white);
  height: 88px;
  padding: 0 16px;
  position: relative;

}
.header__nav {
  max-width: 1120px;
  margin: 0 auto;
}

/*шапка сайта Header*/
.header__container--left,
.header__container--right {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
  flex-shrink: 0;

}
/*Основная чать сайта main*/

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 0;
  max-width: 100vw;
  overflow: hidden;

}

.main {
  max-width: 1120px;
  margin: 0 0;
}

/*кнопки button*/
.header__button,
.main__button {
  border: none;
  background: none;
  flex-shrink: 0;
  margin: 0;
  cursor: pointer;
}

.header__button:active,
.main__button:active,
.main__further--arrow:active {

}

/*заголовок*/

.main__container {
  display: flex;
  align-items: center;
}


.main__title--text {
  /*padding-left: 25px;*/
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
}
.main__buttons {
  /*padding-left: 35px;*/
}
.main__article-text {
  /*padding-left: 10px;*/
}
/*перечень услуг*/
.main__buttons {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  gap: 24px;
  font-weight: 500;
  white-space: nowrap;
  border-radius: 6px;
  font-size: 16px;
  flex-shrink: 0;
  padding: 0 16px;

}

.main__buttons button {
  display: flex;
  white-space: nowrap;
  border-radius: 6px;
  font-size: 16px;
  flex-shrink: 0;
  line-height: 24px;
  color: #7E7E82;
}

.main__button--border{
  border: 2px solid #B8FFEC;
  padding: 8px  ;
  /*margin-left: 23px;*/
}

/*основной текст*/
.main__article {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  column-gap: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  padding: 0 16px;
}

.main__article-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 ;

}

.main__article--description {

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 490px;
  height: 160px;
}
/*читать далее*/
.main__article-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main__further {
  display: flex;
  align-items: center;
  /*margin-top: 16px;*/
  gap: 8px;
}
.main__further-arrow {
  width: 24px;
  height: 24px;
}

.main__further a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/*картинка с логотипом*/
.main__article-image img {
  width: 531px;
  height: 307px;
  border-radius: 6px;
}
/* 1120px*/
.main__block-1120-hide {
  display: none;
}
                 /*Боковое меню сайта*/
.menu-main {
  display: flex;
}

nav.menu-header {
  display: flex;
  flex-direction: column;
  background-color:  var(--color-header-white);
  min-width: 320px;
  height: auto;
  min-height: 100vh;
  gap: 46px;

}

.menu__button {
  border:  none;
  background: none;
  margin: 0;
  cursor: pointer;
  flex-shrink: 0;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

}

.menu__header--left {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-left: 24px;
}

.menu__header--right {
  padding-right: 24px;
}
    /*Кнопки меню  */
.menu__body {
  display: flex;
  flex-direction: column;
  gap: 185px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /*padding-bottom: 140px;*/
}

.menu__item:not(.menu__item--style) a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1B1C21 ;
  padding-left: 24px;
  text-decoration: none;
}

   /*Подсвечивание кнопок меню при наведении курсора*/
.menu__item a {
  transition: color 0.3s ease;
}
.menu__item--style a:hover {
  color: rgba(0, 255, 255, 0.8);
  text-shadow: 0 0 4px rgba(4, 246, 205, 0.3);
}
.menu__item:not(.menu__item--style) a:hover {
  color: rgba(0, 255, 255, 0.8);
  text-shadow: 0 0 4px rgba(65, 246, 215, 0.3);
}

.menu__item--style a {
  display: flex;
  align-items: center;
  gap: 24px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
}
 /*пустой блок*/
.empty-block {
 height: 90px;
}

.menu__footer  {
  display: flex;
  flex-direction:  column;
  gap: 16px;
}

.menu__footer-header {
  display: flex;
  gap: 16px;
  padding-left: 24px;
}

.menu__footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left:  24px;

}

.menu__footer-mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1B1C21;
}

.menu__footer-phone {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #1B1C21;
}

.menu__languages {
  display: flex;
  padding-left: 24px;
  gap: 7px;
}

.menu__button-lang {
  border:  none;
  background: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1B1C21;
}

.menu__button-lang--active {
  color: #7E7E82;
}
/*  320px > <767px */
@media (min-width: 320px) and (max-width: 767px) {

  .main {
    display: flex;
  }
  .main__title {
    display: flex;
    padding: 0;
    gap: 16px;
    justify-content: space-between;
  }

  .main__article-image img {
    width: 100vw;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .main__article-text {
    padding: 0 16px;
  }

  .main__container {
    display: flex;
    gap: 16px;

  }

  .main__article {
    padding: 0;
    flex-direction: column;
    align-items: stretch;
  }

  .main__article--description {
    width: 100% !important;
    max-width: 100%;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    /*padding: 0 16px;*/
    box-sizing: border-box;
  }

  .header__button--hide {
    display: none;
  }

  .main__article-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .main__button--border{
    border: 2px solid #B8FFEC;
    /*margin-left: 23px;*/
  }

  .main__article-image img {
    width: 100%;
    height: 100%;
    position: static;
  }

  .main__title--text {
    /*padding-left: 8px;*/
  }

  .main__buttons {
    /*padding-left: 2px;*/
    overflow-x: scroll;
  }
}
/*  768px > < 1119px*/

@media (min-width: 768px) and (max-width: 1119px) {

  .main__container {
    display: flex;
    gap: 16px;

  }

  .main__article {
    flex-direction: row;
    align-items: stretch;
  }

  .main__article > * {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
  .main__buttons button {
    display: flex;
    flex-wrap:  nowrap;
    /*margin-left: 10px;*/
  }

  .main__title--text {
    padding: 0;
  }

  .main__buttons {
    /*padding-left: 16px;*/
  }

  .main__article--description {
    width: 100% !important;
    max-width: 100%;
    height: auto;
  }

  .main__article-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
}

/*  1120px и выше  */
@media (min-width: 1120px) {
  .header__nav {
    display: none;
    padding: 0 32px 0 32px;

  }
  .main__title {
    display: flex;
    padding: 0 16px 0 0;
    gap: 16px;
    justify-content: space-between;
  }

  .header__button {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }
  .header__buttons {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }

  .header__container--left,
  .header__container--right{
    gap: 20px;
  }

  .header__container--right {
    display: flex;
    gap: 16px;
    padding: 0;
    align-items: center;
    flex-shrink: 0;
  }
  .main__block-1120-hide {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0;
    flex-shrink: 0;

  }

  .main__buttons {
    display: flex;
    flex-wrap:  nowrap;

  }

  .main__container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .main__block--setting,
  .main__block--search {
    display: flex;
    align-items: center;

    gap: 8px;
  }

  .main__block--setting button,
  .main__block--search button {
    display: flex;
    align-items: center;
    background: none;
    cursor: pointer;
  }

  .main__title p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}



